/* --------------- IMPORT GOOGLE FONTS --------------- */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Oxygen+Mono&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');



/* --------------- HTML (ALL) --------------- */

/* Controls all HTML elements */
html { 
    background-color: RGB(128, 132, 141);
    color: RGB(249, 249, 249);
    font: normal 18px 'Source Sans 3', sans-serif;
}

/* Website Title */
.website-title {
    font: 300 60px 'Oxygen', sans-serif;    
}

/* H1 Elements - Set font */
h1 {
    font: 300 40px 'Oxygen', sans-serif;
    margin-bottom: 15px;
}

h2 {
    font: 200 30px 'Oxygen', sans-serif;
    margin-bottom: 0px;
}

/* P Elements  - Set font */
p {
    font: normal 18px 'Source Sans 3', sans-serif;
    margin-top: 10px;
    max-width: 550px;
}

/* Body elements */
body {
    margin: 40px;
}

/* Main elements/block */
main {
    margin-top: 70px;
}

a {
    color: RGB(179, 180, 184);
}

/* --------------- NAVBAR --------------- */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: RGB(179, 180, 184);
    display: inline-block; /* Makes navbar shrink to fit the text inside */
}

li {
    display: inline;
}
  
li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
li a:hover {
    background-color: RGB(51, 47, 48);
}

/* For Dropdown Below: */
/* Style the main navbar */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: RGB(179, 180, 184);
    display: inline-block;
}

/* Makes navbar stay horizontal */
nav ul li {
    position: relative;
    display: inline-block;
}

/* Style the links */
nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: RGB(249, 249, 249);
}

/* Hide the dropdown by default */
nav ul li ul.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: RGB(179, 180, 184);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Show the dropdown on hover */
nav ul li:hover ul.dropdown {
    display: block;
}

/* Style the dropdown links */
nav ul li ul.dropdown li a {
    padding: 10px;
    white-space: nowrap;
}

/* Hover effect for links */
li a:hover {
    background-color: RGB(51, 47, 48);
}